for n in data
  div.board-container
    div.board
      div.bname
        h1 #{n.name}
      for n2 in n.tasks
        div.task
          if n2.status == 'srochno'
            div.status.srochno #{n2.name}
          if n2.status == 'med'
            div.status.med #{n2.name}
          if n2.status == 'nesrochno'
            div.status.nesrochno #{n2.name}
          if n2.status == 'supernesrochno'
            div.status.supernesrochno #{n2.name}
          div.opisanielg #{n2.description}
          div.niz
            div.nizleft
              <div style="width: 2%; margin-right: 10px;">
                div.strelka.elements
              </div>
              div.messages
                <img src="img/comm2.png"  alt="comments" style="height: 100%" class="elements">
              div.wtime
                <img src="img/clock-solid.svg" alt="time" style="height: 80%" class="elements">
                div.txttime.elements #{n2.time}
            div.nizright
              div.peopletsk.elements 6 views
    if n.name != 'Done'
      button.addtsk.myBtn(onclick=`intoJson(${n.id});`)
        <img src="img/plus.svg" alt="Add task" style="height: 100%">